.newtask {
  height: 8vh;
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-bottom: 2vh;
  padding-left: 20px;
  font-size: 3rem;
  background: #e2ece2;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-content: center;
}

.newtask p {
  margin-bottom: 0;
}

.newproject:hover {
  background: #e4ece4;
}

.checkmark {
  opacity: 0.5;
  padding-left: 3rem;
}

.checkmark:hover{
  opacity: 1;
}
