
.navabar-logo {
  height: 30px;
  padding-left: 10px;
}


.navBar {
    background-color: #a3c7b5;
    overflow: hidden;
    font-size: 1.5em;
    height: 40px;
    font-size: 20px;
}

.navBar img {
  padding-top: 5px;
}

.navBar a {
  text-decoration: none;
  color: white;
}

.active {
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin-top: -40px;
  margin-left: 2vw;
}

.navBar li {
  display: inline;
  padding: 0 2vw;
}
