.homepage-header {
  text-align: center;
  font-family: Georgia, serif;
  font-weight: 500;
  height: 55vh;
}

.homepage-header-img {
  height: 40vh;
  margin: 5vh auto 0 auto;
  display: block;
  padding: 10px;
}

.homepage-about {

}

.homepage-features {
  padding: 5% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  text-align: center;
  font-size: 1.5rem;
}

.homepage-features h3 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

.homepage-features img {
  height: 8vh;
}

.homepage-features-heading {
  grid-column: 1/span 3;
  padding-bottom: 30px;
}

.homepage-signup-form {
  background: #6e9474;
  color: white;
  padding: 40px;
}

.homepage-signup-form-heading {
  text-align: center;
}

@media only screen and (max-width: 420px){
  .homepage-header-img {
    height: 20vh;
    margin: 10vh auto 0;
  }

  .homepage-header {
    height: 40vh;
  }

  .homepage-about {
    font-size: 2rem !important;
    padding: 5% 5% !important;
  }
  .homepage-features {
    display: block;
  }
  .sign-up-btn {
    width: 80%;
  }
}
