.image-wrapper {
  border-radius: 4px;
  border: 1px solid #DDD;
  overflow: hidden;
  display: grid;
  grid-template-rows: 2fr 1fr;
  box-shadow: 0px 0px 4px 0px rgba(142, 139, 139, 0.32);
}

.image-wrapper:hover {
  box-shadow: 0px 0px 10px 0px rgba(142, 139, 139, 0.52);
  height: 100%;
  width: 100%;
}

.image-link {
  height: 300px;
  overflow: hidden;
}
.img-description {
  height: 100px;
  font-size: 2rem;
  padding: 5px 15px;
}
